{% extends 'base.html' %}

{% block title %}
    Project Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create</a>
            {% if project_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' x.pk %}">{{ x.name }}</a>
                                </td>
                                <td>{{ x.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
